
.conteneur{
    display:flex;
    flex-direction:column;
    width:70vw;
    margin-left:15vw;
    justify-content:center;
    align-items:center;
}
.conteneur h1{
    align-self:flex-start;
}
.conteneur form {
    display:flex;
    flex-direction:column;
}
.conteneur Label{
    margin-top:2vh;
}
.conteneur input {
    width:40vw;
    height:5vh;
    border:none;
    background-color:white;
    margin-top:1vh;
}
.conteneur Button {
    background-color: #20335F;
    width:20vw;
    margin-left:10vw;
    margin-top:3vh;
}
.btngoogle{
    width:20vw;
    margin-top:3vh;
    margin-left:0px;
    color:#20335F;
    margin-right:10vw;
    height:5vh;
    border-radius:5px;
    background-color:transparent !important;
    border: solid  #20335F;
}

#containerconfirmation{
    width:80vw;
    margin-left:10vw;
    margin-top:10vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
@media(max-width:800px){
    .conteneur{
        margin-top:5vh;
    }
    .conteneur h1{
        margin-left:-4vw;
        margin-bottom:8vh;
    }
    .conteneur input{
        width:70vw;
        
    }
    .btngoogle{
        margin-left:0px;
        margin-right:5vw;
    }
    .conteneur Button, .btngoogle {
        width: 60vw;
        height:10vh;
        margin-left:5vw;
        color:white;
    }
   
   
}
